<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="table/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="fileupload/css/fileinput.min.css"/>
    <link rel="stylesheet" href="css/prizeMananger.css"/>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="fileupload/js/fileinput.min.js" />
    <script type="text/javascript" src="fileupload/js/fileinput_locale_zh.js" ></script>
    <script type="text/javascript" src="table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="table/extensions/export/bootstrap-table-export.min.js"></script>

</head>

<body>
<!--toolbar开始-->
<div class="row base-margin" id="query">

    <form class="form-inline"  style="float: left;"  id="queryForm">

        <div class="form-group">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:openDesignPanel(true)"><button type="button" class="btn btn-warning">添加奖品</button></a>
        </div>

    </form>
</div>
<!--toolbar结束-->
<div class="container" style="width: 100%;">
    <table id="table">
    </table>
</div>

<!--表单设计器开始-->
<div id="desginPanel" hidden="hidden" style="width: 80%;position: absolute;top: 5%;right: 10%;"
     class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">设计表单</h3>
        <a class="a_close" href="javascript:closeDesignPanel()"><span style="float: right;margin-top: -1.5%;" class="glyphicon glyphicon-remove"></span></a>
    </div>
    <div class="panel-body">
        <form class="bs-example bs-example-form" role="form">

        <div class="input-group">
            <span class="input-group-addon">奖品名称</span>
            <input type="text" id="prizeName" class="form-control" placeholder="请输入奖品名称" />
        </div>
            <br></br>

        <div class="input-group">
            <span class="input-group-addon">中奖率</span>
            <input type="text" id="prizeRate" class="form-control" placeholder="请输入中奖率" />
        </div>
            <br></br>

        <div class="input-group">
            <span class="input-group-addon">中奖图片</span>
            <input id="file"  class="form-control" multiple="multiple" type="file"  name="prizeImage" />
        </div>
        </form>
        <button class="btn btn-warning btn-block" style="width: 25%;margin: 0 auto;" id="desigenSumbit" onclick="designSubmit()">提交
        </button>
    </div>
</div>
<!--表单设计器结束-->

<!--弹出框开始-->
<div id="bgDiv"></div>
<div id="imgBig" hidden="hidden">
    <div class="casewinright">
        <div class="cdel">
            <a onclick="document.getElementById('imgBig').style.display='none';document.getElementById('bgDiv').style.display='none';">
                <img src="img/close.png" width="27" height="25"/>
            </a>
        </div>
        <div class="winright">
            <img src="" width="100%"/>
        </div>
    </div>
    <!--casewinright-->
</div>
<!--imgBig-->
<!--弹出框结束-->
</body>
<script type="text/javascript" src="js/prizeManager.js"></script>
</html>