<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>我的奖品</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"/>

    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../bootstrap/js/jquery.min.js"></script>
    <script src="../js/userPrize.js"></script>
    <style>
        a{
            text-decoration: none;
        }
        a:hover{
            text-decoration: none;
        }
    </style>
</head>
<body>
<ol class="breadcrumb">
    <li><strong><span style="color: #27a0d7">个人中心</span></strong></li>
</ol>
    <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <td >用户名</td>
                <td id="uname" colspan="2"></td>
            </tr>
            <tr>
                <td >姓名</td>
                <td id="name" >
                </td>
                <td id="edit" rowspan="2" style="text-align: center;"><a href="javascript:edit()">编辑</a></td>
            </tr>
            <tr>
                <td >手机号</td>
                <td id="phone"></td>
            </tr>
            <tr>
                <td>红包</td>
                <td id="redEnvelope">10元</td>
                <td style="text-align: center;"><a href="javascript:open(1)">查看纪录</a></td>
            </tr>
            <tr>
                <td>积分</td>
                <td id="integral">10</td>
                <td style="text-align: center;"><a href="javascript:open(2)">查看纪录</a></td>
            </tr>
            <tr>
                <td>其他</td>
                <td colspan="2">手机</td>
            </tr>
        </tbody>
    </table>

<!--表单设计器开始-->
<div id="recordList" hidden="hidden"  style="width: 80%;position: absolute;top: 5%;right: 10%;"
     class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">中奖纪录</h3>
    </div>
    <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <td>奖品编号</td>
                <td>奖品名称</td>
                <td>抽奖时间</td>
                <td>状态</td>
            </tr>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>

        <a href="javascript:close()"><button class="btn btn-warning btn-block" style="width: 25%;margin: 0 auto;">关闭
        </button></a>
    </div>
</div>
</body>
</html>