<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>我的奖品</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/jquery.min.js"></script>
</head>
<body>
<ol class="breadcrumb">
    <li><strong><span style="color: #27a0d7">我的奖品</span></strong></li>
</ol>
    <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <td>用户名</td>
                <td>Meet.相识</td>
            </tr>
            <tr>
                <td>奖品</td>
                <td>手机</td>
            </tr>
        </tbody>
    </table>
</body>
</html>