<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>幸运大转盘</title>

    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <!--<script type="text/javascript" src="js/jquery-1.10.2.js"></script>-->
    <script src="bootstrap/js/jquery.min.js"></script>

    <script type="text/javascript" src="js/awardRotate.js"></script>

    <script type="text/javascript" src="js/wheel.js"></script>
</head>
<body style="background:#e62d2d;overflow-x:hidden;">
<div id="img">
    <img src="images/1.png" id="shan-img" style="display:none;"/>
    <img src="images/2.png" id="sorry-img" style="display:none;"/>
</div>

<br></br><br></br><br></br><br></br>
<div class="banner">
    <div class="turnplate" style="background-image:url(images/turnplate-bg.png);background-size:100% 100%;">
        <canvas class="item" id="wheelcanvas" width="422px" height="422px"></canvas>
        <img class="pointer" src="images/turnplate-pointer.png"/>
    </div>
</div>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
</div>
</body>
</html>